:root {
    --text-color: #fff;
    --card-background-color: #1b1913;
}
@font-face {
    font-family: "CursorGothic";
    src: url("/assets/CursorGothic-Regular.woff2");
}
body {
    color: var(--text-color);
    background-color: #100e09;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.navBar {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #100e09;
    max-width: 1300px;
    width: 100%;
    height: 51.992px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    gap: 1rem;
    margin-left: 110px;
    margin-right: 110px;
    margin-bottom: 50px;
}
.navCenterItem {
    display: flex;
    align-items: center;
    gap: 25px;
}
.navCenterItem a {
    font-size: 14px;
    color: var(--text-color);
    text-decoration: none;
}
.navRightItem button {
    cursor: pointer;
    font-size: 15px;
    border-radius: 18px;
    padding: 5.6px 10.5px 5.6px 10.5px;
}
.signIn {
    border: 1px solid #45433e;
    background-color: var(--card-background-color);
    color: #fff;
}
.downloadBtn {
    background-color: #fff;
}

.mainTitle {
    font-family: "CursorGothic";
    font-size: 30px;
    margin-top: 8rem;
    margin-bottom: 45px;
    margin-left: 110px;
    margin-right: 110px;
    font-weight: bold;
    font-size: 10px;
}
.mainTitle1 {
    font-size: x-large;
    font-weight: 400;
}
.mainTitle2 {
    font-size: x-large;
    font-weight: 400;
    margin-bottom: 15px;
}
.downloadBtn2 {
    cursor: pointer;
    font-size: 17px;
    border-radius: 3.40282e38px;
    padding: 0.78em 1.35em 0.8em;
}

.card1 video {
    width: 1300px;
    height: 720px;
    margin-left: 106px;
}

.trustedCompany {
    width: 100%;
    margin-top: 50px;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    font-weight: 400;
    flex-direction: column;
}
.companyLogoImg {
    height: 40px;
}
.companyLogo {
    display: flex;
    gap: 0.625rem;
}
.box {
    background-color: var(--card-background-color);
    height: 100px;
    margin-right: 12px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card2 {
    display: flex;
    margin-top: 15px;
    margin-left: 110px;
    height: 680px;
    width: 1295px;
    background-color: var(--card-background-color);
}
.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 382px;
    height: 680px;
}
.text {
    padding-left: 15px;
    padding-right: 30px;
}
.textLine1 {
    font-size: 1.375rem;
    font-weight: 500;
    width: 300px;
}
.textLine2 {
    color: #9a9996;
    font-size: 1.375rem;
    width: 400px;
}
.cardTerminalImg {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 100px;
}
.orageText {
    color: #f54e00;
    margin-top: 15px;
}

.card3 {
    font-family: "CursorGothic";
    display: flex;
    margin-top: 15px;
    margin-left: 110px;
    height: 680px;
    width: 1295px;
    background-color: var(--card-background-color);
}
.card3 video {
    margin: 15px;
    height: 650px;
}
.card3 .textLine1 {
    width: 340px;
}
.card3 .textLine2 {
    width: 355px;
}
.card3 .text {
    margin-left: 50px;
}

.card4 {
    font-family: "CursorGothic";
    display: flex;
    margin-top: 15px;
    margin-left: 110px;
    height: 680px;
    width: 1300px;
    background-color: var(--card-background-color);
}
.card4 img {
    margin-right: 0% !important;
    margin-left: 54px;
    margin-top: 15px;
    height: 650px;
    width: 800px;
}
.card4 .text {
    margin-right: 50px;
}
.subTitle {
    font-family: "CursorGothic";
    font-weight: 300;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.companyCeoFeedbacks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 1375px;
    height: 490px;
    margin-left: 110px;
    font-family: "CursorGothic";
    font-weight: 400;
    font-style: normal;
}
.ceoBox {
    background-color: var(--card-background-color);
    font-family: "CursorGothic";
    width: 390px;
    height: 250px;
    padding: 16px 17.5px 17.5px 17.5px;
}
.ceoInfo {
    display: flex;
    gap: 8px;
    margin: 80px 9px 3px;
}
.ceoInfo .darkText {
    color: #9a9996;
}
.ceo-1 {
    margin-top: 96px;
}
.ceo-2 {
    margin-top: 96px;
}
.ceo-3 {
    margin-top: 78px;
}
.ceo-4 {
    margin-top: 54px;
}
.ceo-5 {
    margin-top: 54px;
}
.ceo-6 {
    margin-top: 92px;
}
